$ansi-colors: (
    name: "black",
    color: rgb(1, 1, 1),
    bright: rgb(128, 128, 128),
  ),
  (
    name: "red",
    color: rgb(222, 56, 43),
    bright: rgb(255, 0, 0),
  ),
  (
    name: "green",
    color: rgb(57, 181, 74),
    bright: rgb(0, 255, 0),
  ),
  (
    name: "yellow",
    color: rgb(255, 199, 6),
    bright: rgb(255, 255, 0),
  ),
  (
    name: "blue",
    color: rgb(0, 111, 184),
    bright: rgb(0, 0, 255),
  ),
  (
    name: "magenta",
    color: rgb(118, 38, 113),
    bright: rgb(255, 0, 255),
  ),
  (
    name: "cyan",
    color: rgb(44, 181, 233),
    bright: rgb(0, 255, 255),
  ),
  (
    name: "white",
    color: rgb(204, 204, 204),
    bright: rgb(255, 255, 255),
  );

.ansi {
  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }
  &--underline {
    text-decoration: underline;
  }

  &--rgb-fg {
    color: var(--value);
  }
  &--rgb-bg {
    background-color: var(--value);
  }

  @each $v in $ansi-colors {
    $name: mag-get($v, name);

    &--#{$name}-fg {
      color: mag-get($v, color);
    }
    &--#{$name}-bg {
      background-color: mag-get($v, color);
    }

    &--bright-#{$name}-fg {
      color: mag-get($v, bright);
    }
    &--bright-#{$name}-fg {
      background-color: mag-get($v, bright);
    }
  }
}
