@use "helpers/htbar";
@use "explorer";

.editor {
  background-color: red;

  display: flex;
  min-height: 20em;
  width: 100%;

  // TODO just for testing. REPLACE with dynamic size
  height: 40em;
}

.editor-window {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  &__content {
    flex: 1;
  }
}
